@font-face {
    font-family: 'GilroyBlack';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GilroyItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GilroyBold';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GilroyBoldItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GilroyExtraBold';
    src:url('../../assets/fonts/giloryFonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GilroyExtraBoldItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Heavy';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HeavyItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Light';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'LightItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Medium';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MediumItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
  
  @font-face {
    font-family: 'Regular';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RegularItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SemiBold';
    src:url('../../assets/fonts/giloryFonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SemiBoldItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Thin';
    src:url('../../assets/fonts/giloryFonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ThinItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'UltraLight';
    src:url('../../assets/fonts/giloryFonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'UltraLightItalic';
    src:url('../../assets/fonts/giloryFonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }