.maincontainer_expense_management {
  width: 100%;
  height: 100vh;
}
.container_expense_management {
  width: 100%;
  font-family: SemiBold;
  font-size: 22px;
  margin-bottom: 2%;
}
.btn_expense_management {
  display: flex;
  background-color: #4cb748;
  color: #fff;
  border-radius: 20px;
  min-width: 35px;
  font-size: 12px;
  cursor: pointer;
  width: 55px;
  align-items: center;
  justify-content: center;
}
.iconstyle_expense_management {
  font-size: 10px;
}
.btncontainerstyling_expense_management {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.btnbetweenstyle_expense_management {
  margin-right: 1%;
}
