.goodtextcss_grnscreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_styling_GRNScreen {
  background-color: #4cb748;
  color: #fff;
  border-radius: 20px;
  min-width: 55px;
  font-size: 12px;
  cursor: pointer;
}
.GRNScreen_Heading_Styling {
  font-size: 20px;
  font-weight: 700;
  font-family: SemiBold;
}
