.mainContainer_schemes_offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ViewtextCss_schemes_offers {
  background-color: #4cb748;
  color: #fff;
  border-radius: 20px;
  min-width: 55px;
  font-size: 12px;
  cursor: pointer;
}
