.recontent_maindivCss_case_ticket {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
.createTicke_text_css_case_ticket {
  font-family: GilroyBold;
  font-size: 17px;
  align-self: center;
}
.crossCss_case_ticket {
  font-family: GilroyBold;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
}
.caseType_textCss_case_ticket {
  font-family: Medium;
  margin: 1.5%;
  font-size: 13px;
}
.caseDiscription_textCss_case_ticket {
  font-family: Medium;
  margin: 1.5%;
  font-size: 13px;
}
.inputCss_case_ticket {
  height: 14vh;
  border-radius: 2px;
  background-color: #f8f8f8;
}
.Mediatext_css_case_ticket {
  font-family: Medium;
  font-size: 13px;
  padding: 5px;
}
.cameraCss_case_ticket {
  background-color: #f8f8f8;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  text-align: center;
}
.submitButtonCss_case_ticket {
  flex-direction: row;
  display: flex;
  margin: 1.5%;
}
.caseTickes_text_case_ticket {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-family: GilroyBold;
  font-size: 18;
  color: #1b2149;
  margin-bottom: 14px;
}
.mainSearchdiv_case_ticket {
  margin-bottom: 14px;
  width: 100%;
}
.cancelButtonCss_case_ticket {
  border-radius: 2px;
  color: #727272;
}
