.header_DSR_360_view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_cont_styling_dsr360_view {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.icon_btn_styling_dsr360_view {
  background-color: #4cb748;
  width: 3rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
}
.arrow_back_styling_dsr360view {
  color: #fff;
  font-size: 1.5rem;
}
.heading_txt_styling_dsr360view {
  font-size: 16px;
  font-family: GilroyBold;
  margin: 0.9rem;
}
.container_dsr360view_expense {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
}
.expense_txt_style_dsr360view {
  display: flex;
  align-items: center;
  font-family: GilroyBold;
  font-size: 17px;
}
.dropdown_dsr360view {
  margin-right: -6px;
}
.sales_order_overview_DSR360_view {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sales_order_overview_txt_dsr360view {
  display: flex;
  align-items: center;
  font-family: GilroyBold;
  font-size: 17px;
}
