.top_container {
  display: block;
  align-items: center;
  height: 100vh;
}
.head_container_cont {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon_btn {
  background-color: #4cb748;
  width: 3rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
}
.txtstyles {
  font-size: 16px;
  font-family: GilroyBold;
  margin: 0.9rem;
}
.secondary_head_cont {
  display: flex;
  flex-wrap: wrap;
}
.mainnn_cont_business {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.businessName_inputlabel {
  width: 30%;
}
.businessaddress_inputlabel {
  width: 30%;
}
.mainn_container_person {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contact_person_inputlabel {
  width: 30%;
}
.empty_inputlabel {
  width: 30%;
}
.email_address_input {
  width: 30%;
}
.mainn_container_phone {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.phone_number_input {
  width: 30%;
}
.gst_number_input {
  width: 30%;
}
.inputs_styles_ {
  font-family: Medium;
  color: #000;
  font-size: 13px;
  width: 100%;
}
.txtinputs_styling {
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 2px;
  width: 90%;
  padding: 5px;
}
.txtinputs_styling_empty{
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 2px;
    width: 90%;
    padding: 5px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a width of 600 pixels or less (mobile) */
  .mainnn_cont_business {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .businessName_inputlabel {
    width: 100%;
  }

  .businessaddress_inputlabel {
    width: 100%;
  }

  .mainn_container_person {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact_person_inputlabel {
    width: 100%;
  }
  .empty_inputlabel {
    width: 100%;
  }
  .email_address_input {
    width: 100%;
  }
  .mainn_container_phone {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .phone_number_input {
    width: 100%;
  }
  .gst_number_input {
    width: 100%;
  }
}
