.heading_addproducts {
  display: flex;
  flex-direction: row;
}
.back_btn_header_add_products {
  border-radius: 15px;
  width: 50px;
  color: #fff;
  background-color: #4cb748;
  min-width: 40px;
  margin-right: 15px;
}
.heading_txt_add_products {
  padding: 2;
}
.main_container_add_products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.add_products_txt_Add_products {
  padding: 2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.basic_table_add_products {
  width: 60px;
  text-align: center;
  background-color: #e5f1f8;
  border-radius: 5px;
  border: 0px;
  color: #0174bf;
}
.your_cart_add_products {
  padding: 2px;
  margin-top: 0px;
}
