.main_card_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}
.main_heading_card_content {
  display: flex;
  justify-content: space-between;
}
.change_btn_card_content {
  text-align: end;
}
.btnstyle_card_content {
  border-radius: 10px;
  background-color: #4cb748;
}
.address_card_content_container {
  flex-direction: column;
  display: flex;
  justify-content: end;
}
.main_text_card_content {
  font-size: 15px;
  font-family: SemiBold;
}
.text_address_card_content {
  font-size: 12px;
  font-family: Medium;
}
