.InVocetextCss_invoice_due_screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: GilroyBold;
  font-size: 18px;
}
.basicTable_btn_invoice_due_table {
  background-color: #4cb748;
  color: #fff;
  border-radius: 20px;
  min-width: 55px;
  font-size: 12px;
  cursor: pointer;
}
