.maincontainerrr{
    background-color: #fff;
    border-radius:15px;
    border:1px solid #E6E6E6;
    width: 100%;
}
.image{
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:center; 
    
}
.profile{
 


}
.profileDetails{
    display: flex;
    justify-content:space-between;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /* column-gap: 50px;
    row-gap:10px; */

}

