.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconbuttoncontainer {
  display: flex;
  align-items: center;
}
.iconbtnstyle {
  background-color: #4cb748;
  width: 3rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
}
.arrowback {
  color: #fff;
  font-size: 1.5rem;
}
.title {
  font-size: 16px;
  font-family: GilroyBold;
  margin: 0.9rem;
}
.transferstockstyle {
  font-size: 16px;
  font-family: GilroyBold;
  margin: 0.9rem;
}
